<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zicai.xojbackendquestionservice.mapper.UserSolutionDetailsFavoriteMapper">

    <resultMap id="BaseResultMap" type="com.zicai.xojbackendmodel.model.entity.UserSolutionDetailsFavorite">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="solutionDetailsId" column="solutionDetailsId" jdbcType="BIGINT"/>
        <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,userId,solutionDetailsId,
        isDeleted
    </sql>
</mapper>
